@import "../config";

.container {
    display: grid;

    padding: 0 2em;

    grid-template-areas:
        "videoTitle commentsTitle"
        "video comments";

    grid-template-columns: 1.68fr 1fr;
    grid-template-rows: 4em auto;
    grid-column-gap: 1em;

    height: 100vh;
}

.videoTitle {
    grid-area: videoTitle;

    padding: 1em;
}

.commentsTitle {
    grid-area: commentsTitle;

    margin: 0;
    padding: 1rem;

    font-family: $font-family;
    font-weight: normal;
    font-size: $header-size;
}

.comments {
    grid-area: comments;
    width: 100%;
    overflow-y: auto;

}

.video {
    grid-area: video;
    width: 100%;
    overflow-y: auto;
}

@media screen and (max-width: 817px) {
    .container {
        grid-template-areas: "videoTitle" "video" "commentsTitle" "comments";
        grid-template-columns: 1fr;
    }

    .commentsTitle::before {
        content: "";
        display: block;

        width: 90%;
        height: 1px;

        margin: 1em 1em 1em 5%;

        background: black;
    }
}